<div id="content">
  {{!-- <header id="header">首页</header> --}}
  <main id="main">
    <p>首页</p>
    <p>等待开发</p>
  </main>
  <footer id="footer">
    <span>MeedFine</span>
    <a target="blank" href="http://www.beian.miit.gov.cn">蜀ICP备19009226号-1</a>
  </footer>
</div>
