<div id="content">
  <header id="header">首页</header>
  <main id="main">
    <p>等待开发首页</p>
    <p>先尝试HTTPS证书</p>
  </main>
  <footer id="footer">
    <span>MeedFine</span>
    <a target="blank" href="http://www.miitbeian.gov.cn/">蜀ICP备19009226号-1</a>
  </footer>
</div>
